@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}



h1 {
  font-size: 7vw;
  font-family: "Gravitas One";
  position: absolute;
  top: 150px;
  left:80px;
  text-shadow: 2px 2px 5px black;
  color: #f5c20c;
  text-align: end;

}

img {
  width: 100%;
  height: auto;
}

.web-developers {
  margin: 20px;
  margin-top: 90px;
  align-items: left;
}

header {
  position: relative;
  margin: -8px;
}

nav {
  text-align: end;
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 1.5rem; */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

a {
  font-family: Lato;
  padding-right: 10px;
  text-decoration: none;

}

.modebuttons {
  background-color: #f5c20c;
  color: #000;
  margin: 10px;
}

.modebtn {
  margin-left: 50px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f5c20c;
}

a:active {
  text-decoration: none;
  color: #a4dbe8;
}

.journey-paragraph {
  font-family: Lato;
  font-size: 20px;
  color: white;
  padding: 5px;
  text-align: center;
}

.myjourney {
  background-color: #8f8465;
  padding: 50px;
  color: white;
}

.contact-paragraph {
  font-family: Lato;
  font-size: 20px;
  color: white;
  padding: 5px;
  text-align: center;
}

.contact {
  background-color: #8f8465;
  padding: 50px;
  color: white;
}

h2 {
  font-family: Gravitas One;
  padding: 5px;
  text-align: center;
}

.headingspan {
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: right;
  display: flex;
}

#About {
  margin-top: 50px;
}

.about {
  margin: 0 100px 0 100px;
  font-family: Lato;
  font-size: 20px;
  /*   padding: 20px; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;

}

.imgbar {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #000;
  color: #f5c20c;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
}

#images {
  max-height: 600px;
  max-width: 80%;
}

.influences {
  padding: 80px;
}

iframe {
  padding: 10px;
  border: none;
}

.video {
  text-align: center;
}

#prodcontainer {
  display: flex;

}

.proditem {
  padding: 30px;
  border-radius: 5px;
  list-style: none;
  font-family: Lato;
  font-size: 20px;
}

#shopcart {
  font-family: Lato;
  font-size: 20px;
  padding: 50px;
}



footer {
  background-color: black;
  height: 25px;
  padding: 10px;
  text-align: left;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}

.jest-lite-report__errors {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}
